{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}


{% if request.user.is_teacher %}
{% comment %} <div class="container-fluid pt-4">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Asignaturas
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-sm-1  r row-cols-md-2 row-cols-xl-5  align-items-stretch g-4 py-4">

                        <a class="text-decoration-none" href="https://www.google.com" target="_blank">
                            <div class="col">
                                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-me" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)) ,url({% static 'core/img/unsplash-1.jpg' %}); background-size:cover;background-repeat: no-repeat;background-position: center center; min-height:21rem; ">
                                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 ">

                                    <h2 class="pt-5 mt-1 mb-5 display-7 lh-1 fw-bold text-center" style="text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);">IV Medio - Lenguaje</h2>
                                        <ul class="d-flex list-unstyled mt-1">
                                            <li class="mx-auto">
                                                <img src="{% static 'core/img/logo.png' %}" alt="Bootstrap" class="rounded-circle border border-white bg-dark " width="75" height="75">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>

                        
                        <a class="text-decoration-none" href="https://www.google.com" target="_blank">
                            <div class="col">
                                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-me" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)) ,url({% static 'core/img/unsplash-2.jpg' %}); background-size:cover;background-repeat: no-repeat;background-position: center center;min-height:21rem; ">
                                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                                        <h2 class="pt-5 mt-1 mb-5 display-7 lh-1 fw-bold text-center" style="text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);">IV Medio - Fisica</h2>
                                        <ul class="d-flex list-unstyled mt-1">
                                            <li class="mx-auto">
                                                <img src="{% static 'core/img/logo.png' %}" alt="Bootstrap" class="rounded-circle border border-white bg-dark" width="75" height="75">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                
                        <a class="text-decoration-none" href="https://www.google.com" target="_blank">
                            <div class="col">
                                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-me" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)) ,url({% static 'core/img/unsplash-3.jpg' %}); background-size:cover;background-repeat: no-repeat;background-position: center center;min-height:18rem; ">
                                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                                        <h2 class="pt-5 mt-1 mb-5 display-7 lh-1 fw-bold text-center" style="text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);">IV Medio - Historia</h2>
                                        <ul class="d-flex list-unstyled mt-1">
                                            <li class="mx-auto">
                                                <img src="{% static 'core/img/logo.png' %}" alt="Bootstrap" class="rounded-circle border border-white bg-dark" width="75" height="75">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="text-decoration-none" href="https://www.google.com" target="_blank">
                            <div class="col">
                                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-me" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)) ,url({% static 'core/img/unsplash-3.jpg' %}); background-size:cover;background-repeat: no-repeat;background-position: center center;min-height:18rem; ">
                                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                                        <h2 class="pt-5 mt-1 mb-5 display-7 lh-1 fw-bold text-center" style="text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);">IV Medio - Historia</h2>
                                        <ul class="d-flex list-unstyled mt-1">
                                            <li class="mx-auto">
                                                <img src="{% static 'core/img/logo.png' %}" alt="Bootstrap" class="rounded-circle border border-white bg-dark" width="75" height="75">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}


{% endif %}

{% if request.user.is_student %}
    Soy estudiante
{% endif %}

{% for course in courses %}
    {{ course.name }}:
    <ul>
        {% for student in course.students_who_join.all %}
            <li>
                {{ student }}
            </li>
        {% endfor %}
    </ul>
{% endfor %}


{% endblock content %}