{% extends 'core/base.html' %}
{% block title %}Iniciar Sesión{% endblock title %}
{% block content %}
{% load static %}
<div class="container d-flex min-vh-100 justify-content-center align-items-center ">
    <div class="row ">
        <div class="text-center fw-600 fs-3 texty-blue text-decoration-none ">
            <img src="{% static 'core/img/logo.png'%} " class="d-inline-block align-text-top " width="150px" heigth="200px" alt="">
        </div>
        <div class="col-10 col-lg-10  fw-600 shadow-me p-3 border-5r-solid bg-lightgray mb-4 mx-auto mt-4">
            {% if form.non_field_errors%}
                <p style="border: 1px solid #FF2F2F; border-radius: 5px; background-color: #FBE1E1; color: red;padding: 8px; margin-bottom: 10px; font-weight: 600;">
                    Incorrect email or password. 
                </p>
            {%endif%}
            <form action="" method="post">{% csrf_token %}
                <div class="mb-3">
                    <label class="texty-blue form-label">Correo Electronico:</label>
                    <input type="text" class="form-control" name="username" required id="id_email">
                </div>

                <div class="mb-4">
                    <div class="row justify-content-around">
                        <div class="col">
                        <label class="texty-blue form-label">Contraseña:</label>
                        </div>
                        <div class="col text-end">
                            <a href="{% url 'password_reset' %}" class="text-decoration-none "><small class="texty-lessblue">¿Olvidaste tu clave?</small></a>
                        </div>
                    </div>
                    <input type="password" class="form-control" name="password" required id="id_password">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-blue text-white fw-600">Iniciar Sesión</button>
                </div>
                </form>
        </div>
    </div>
</div>
{% endblock content %}